* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

p, 
span,
li, 
button {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel Decorative', cursive;
}
.App{
    padding: 0 4em;
}

.App header {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;

}
.App header ul {
    display: flex;
}

.App header ul > li {
    margin: 0 1em;
    list-style: none;
}

.App header ul > li:hover{
    cursor: pointer;
    color: #77f28f
}
.App > :nth-child(2){
    display: flex;
    justify-content: space-around;
}
.App section .user-media{
    display: flex;
}
.App  section .user-media .social-media{
    transform: rotate(270deg);
    margin-top: 10em;
    margin-left: -5em;
    height: 20px;
}
.App  section .user-media .social-media span{
    margin: 0 3px;
}
.App  section .user-media .social-media span a img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.App  section .user-media .user-image{
    border: 2px solid black;
    width: fit-content;
    border-radius: 105px;
    padding: 0.55em 0.55em 0.3em 0.55em;
}

.App  section .user-media .user-image img{
    max-width: 200px;
    height: 400px;
    border-radius: 105px;
    object-fit: cover;
}
.App  section .message {
   margin-top: 10em;
}


